DSL샘플/Chapter7_워크플로우/7-2_이미지인식워크플로우.yml
app:
  description: ''
  icon: frame_with_picture
  icon_background: '#D3F8DF'
  icon_type: emoji
  mode: workflow
  name: 이미지 인식 워크 플로우
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.6@e2665624a156f52160927bceac9e169bd7e5ae6b936ae82575e14c90af390e6e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1774615548964-source-1774621429751-target
      source: '1774615548964'
      sourceHandle: source
      target: '1774621429751'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1774621429751-source-1774623055099-target
      source: '1774621429751'
      sourceHandle: source
      target: '1774623055099'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 이미지 업로드
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: 파일을 업로드해 주세요.
          options: []
          placeholder: ''
          required: true
          type: file
          variable: file
      height: 108
      id: '1774615548964'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 3778b347-ded8-494f-879d-6c6d06bf87aa
          role: system
          text: "기재된 내용을 읽고, 아래 형식에 맞춰서 정리해 줘.\n\n=====\n상품명/서비스명 \n주요 메시지\n기타 정보\
            \ \n\n====== \n"
        selected: false
        title: 이미지 인식
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '1774615548964'
            - file
          enabled: true
      height: 87
      id: '1774621429751'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1774621429751'
          - text
          value_type: string
          variable: text
        selected: false
        title: 출력
        type: end
      height: 87
      id: '1774623055099'
      position:
        x: 683
        y: 282
      positionAbsolute:
        x: 683
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 190
      y: -166
      zoom: 1
  rag_pipeline_variables: []
