DSL샘플/Chapter8_Dify+GAS/8-4_가계부채팅플로우.yml
app:
  description: ''
  icon: house_with_garden
  icon_background: '#E4FBCC'
  icon_type: emoji
  mode: advanced-chat
  name: 가계부 채팅 플로우
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.6@e2665624a156f52160927bceac9e169bd7e5ae6b936ae82575e14c90af390e6e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1774663631868-llm
      source: '1774663631868'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: llm-source-1774663733490-target
      source: llm
      sourceHandle: source
      target: '1774663733490'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1774663733490-source-1774663953129-target
      source: '1774663733490'
      sourceHandle: source
      target: '1774663953129'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1774663953129-source-answer-target
      source: '1774663953129'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 시작
        type: start
        variables: []
      height: 72
      id: '1774663631868'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 1fff5617-a81d-4fd8-b3d4-21957f847060
          role: system
          text: "입력된 내용을 분석하여 아래의 카테고리 중 하나로 분류하고 정보를 추출한다.\n\n## 카테고리 구분\n- 식비: 식재료,\
            \ 외식, 음료, 과자 등\n- 생활용품: 위생용품, 청소용품, 소모품 등\n- 교통비: 주유비, 전철, 버스, 주차장 등\n\
            - 공과금: 전기, 가스, 수도 등\n- 여가·취미: 영화, 음악, 책, 스포츠 등\n\n## 추출 항목\n1. 위 카테고리에서\
            \ 가장 적절한 것\n2. 사람 (남편 / 아내)\n3. 상품명\n4. 금액 (숫자만)\n5. 상세 정보\n\n## 출력 형식\n\
            카테고리 : [카테고리명]\n사람 : [남편 / 아내]\n상품명 : [상품명]\n금액 : [금액]\n상세 : [상세]\n\n\
            ## 입력/출력 예시\n### 예시 1\n입력: 남편이 역 매점에서 5,000원짜리 잡지를 샀어\n출력:\n카테고리 : 여가·취미\n\
            사람 : 남편\n상품명 : 잡지\n금액 : 5000\n상세 : 역 매점에서 구매\n\n### 예시 2 \n입력: 아내가 슈퍼에서\
            \ 12,000원어치의 화장지를 샀다\n출력:\n카테고리 : 생활용품\n사람 : 아내\n상품명 : 화장지\n금액 : 12000\n\
            상세 : 슈퍼에서 구매\n"
        selected: false
        title: 지출 내역 정리
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#llm.text#}}

          {{#1774663733490.text#}}

          '
        selected: false
        title: 답변
        type: answer
        variables: []
      height: 119
      id: answer
      position:
        x: 1280
        y: 282
      positionAbsolute:
        x: 1280
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 6f962eef-8560-460e-b422-43a5abd51991
          role: system
          text: '{{#llm.text#}}에서 아래 JSON 형식으로 변환하여 text 형식으로 출력해 줘.

            단, JSON 형식 텍스트만 출력하고, 불필요한 내용은 제거해.

             

            ｛

              "Category": "{{#llm.text#}}에서 카테고리",

              "Person": "{{#llm.text#}}에서 사람",

              "Name": "{{#llm.text#}}에서 상품명",

              "Amount": "{{#llm.text#}}에서 금액",

              "Details": "{{#llm.text#}}에서 상세 정보"

            ｝'
        selected: false
        title: JSON 데이터 생성
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774663733490'
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-31
            key: ''
            type: text
            value: '{{#1774663733490.text#}}'
          type: json
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 요청
        type: http-request
        url: https://script.google.com/macros/s/AKfycbz6mrttQuH1MGJNU4VDF3QyYVRxo9nBKPn120vFvoCCiUgisibA79Kcopu8FOr6UFAV3g/exec
        variables: []
      height: 184
      id: '1774663953129'
      position:
        x: 980
        y: 282
      positionAbsolute:
        x: 980
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -1029.5
      y: 102.5
      zoom: 1
  rag_pipeline_variables: []
