DSL샘플/Chapter6_채팅플로우/6-5_영어지원경비정산및취업규칙채팅플로우.yml
app:
  description: ''
  icon: office
  icon_background: '#D1E0FF'
  icon_type: emoji
  mode: advanced-chat
  name: 영어지원 경비정산 및 취업규칙 채팅 플로우
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.6@e2665624a156f52160927bceac9e169bd7e5ae6b936ae82575e14c90af390e6e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1774580691967-source-1774585374176-target
      source: '1774580691967'
      sourceHandle: source
      target: '1774585374176'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1774585374176-true-1774585861975-target
      source: '1774585374176'
      sourceHandle: 'true'
      target: '1774585861975'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1774585374176-a96d1cb3-5753-469e-951c-2999df07692b-1774586078928-target
      source: '1774585374176'
      sourceHandle: a96d1cb3-5753-469e-951c-2999df07692b
      target: '1774586078928'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774585861975-source-1774586416758-target
      source: '1774585861975'
      sourceHandle: source
      target: '1774586416758'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774586078928-source-17745868692310-target
      source: '1774586078928'
      sourceHandle: source
      target: '17745868692310'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1774586416758-source-1774595321086-target
      source: '1774586416758'
      sourceHandle: source
      target: '1774595321086'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 17745868692310-source-1774595569826-target
      source: '17745868692310'
      sourceHandle: source
      target: '1774595569826'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774595569826-source-1774587137271-target
      source: '1774595569826'
      sourceHandle: source
      target: '1774587137271'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 시작
        type: start
        variables:
        - hint: ''
          label: 확인하고 싶은 항목의 번호를 입력하세요.
          options:
          - '1. 취업규칙 '
          - 2. 경비정산
          placeholder: ''
          required: true
          type: select
          variable: user_select
      height: 108
      id: '1774580691967'
      position:
        x: 81
        y: 283
      positionAbsolute:
        x: 81
        y: 283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 8fa35404-9c40-4c07-8190-af4c9ec08a21
            value: '1'
            varType: string
            variable_selector:
            - '1774580691967'
            - user_select
          id: 'true'
          logical_operator: and
        - case_id: a96d1cb3-5753-469e-951c-2999df07692b
          conditions:
          - comparison_operator: contains
            id: eee8fa2d-9dd5-4705-8ac7-8ce7be2e8e8a
            value: '2'
            varType: string
            variable_selector:
            - '1774580691967'
            - user_select
          id: a96d1cb3-5753-469e-951c-2999df07692b
          logical_operator: and
        selected: false
        title: IF/ELSE
        type: if-else
      height: 171
      id: '1774585374176'
      position:
        x: 383
        y: 283
      positionAbsolute:
        x: 383
        y: 283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - UuxNKqd3tsYXHFh6W8V7s6wiO9pcQxt9kMX8/zDplmcBFPjYMOem//OSJt+4tYEI
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 1
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: '지식 검색: 취업규칙'
        type: knowledge-retrieval
      height: 89
      id: '1774585861975'
      position:
        x: 684
        y: 242.31693326052175
      positionAbsolute:
        x: 684
        y: 242.31693326052175
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - 0p8yean3D7Q6AR4c5mEuSHmbZvGWD640Cj7qxkrj9YSj6XrfqkJqgdaMtt4bffxR
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 1
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: '지식 검색: 경비정산 사내규정'
        type: knowledge-retrieval
      height: 89
      id: '1774586078928'
      position:
        x: 684
        y: 439.40607307913865
      positionAbsolute:
        x: 684
        y: 439.40607307913865
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774585861975'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 064c00df-3375-4c70-a183-0d116b580897
          role: system
          text: 사용자의 질문에 대해 {{#context#}}를 참조하여 답변해 줘. 기재되어 있지 않거나 정확한 답변을 할 수 없는
            경우에는 반드시 "담당자에게 직접 확인하세요."라고 답변해야 해.
        selected: false
        title: 취업규칙 답변
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774586416758'
      position:
        x: 977.0229280902986
        y: 242.31693326052175
      positionAbsolute:
        x: 977.0229280902986
        y: 242.31693326052175
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774586078928'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 064c00df-3375-4c70-a183-0d116b580897
          role: system
          text: 사용자의 질문에 대해 {{#context#}}를 참조하여 답변해 줘. 기재되어 있지 않거나 정확한 답변을 할 수 없는
            경우에는 반드시 "담당자에게 직접 확인하세요."라고 답변해야 해.
        selected: false
        title: 경비정산 답변
        type: llm
        vision:
          enabled: false
      height: 87
      id: '17745868692310'
      position:
        x: 985
        y: 439.40607307913865
      positionAbsolute:
        x: 985
        y: 439.40607307913865
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '== 경비정산 ==

          {{#17745868692310.text#}}


          == 경비정산(영어) ==

          {{#1774595569826.text#}}'
        selected: false
        title: 답변 2
        type: answer
        variables: []
      height: 135
      id: '1774587137271'
      position:
        x: 1586
        y: 439.40607307913865
      positionAbsolute:
        x: 1586
        y: 439.40607307913865
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 261bf116-973d-497d-965a-5de4639a7cf0
          role: system
          text: '{{#1774586416758.text#}}를 영어로 번역해 줘.'
        selected: false
        title: 영어_취업규칙
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774595321086'
      position:
        x: 1286
        y: 242.31693326052175
      positionAbsolute:
        x: 1286
        y: 242.31693326052175
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 3411c129-6a27-493b-b5a7-7bd57d04c87a
          role: system
          text: '{{#17745868692310.text#}}를 영어로 번역해 줘.'
        selected: false
        title: 영어_경비정산
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774595569826'
      position:
        x: 1286
        y: 439.40607307913865
      positionAbsolute:
        x: 1286
        y: 439.40607307913865
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -1325.3306309399986
      y: -175.69467149416312
      zoom: 1.0913159278874882
  rag_pipeline_variables: []
