DSL샘플/Chapter6_채팅플로우/6-6_영어일어동시번역채팅플로우.yml
app:
  description: ''
  icon: page_with_curl
  icon_background: '#E4FBCC'
  icon_type: emoji
  mode: advanced-chat
  name: 영어 일어 동시 번역 채팅 플로우
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.6@e2665624a156f52160927bceac9e169bd7e5ae6b936ae82575e14c90af390e6e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1774599246470-llm
      source: '1774599246470'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      selected: false
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1774599246470-source-1774602494766-target
      source: '1774599246470'
      sourceHandle: source
      target: '1774602494766'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774602494766-source-answer-target
      source: '1774602494766'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 시작
        type: start
        variables: []
      height: 72
      id: '1774599246470'
      position:
        x: -5.655033903312358
        y: -14
      positionAbsolute:
        x: -5.655033903312358
        y: -14
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: aad4452f-b4c0-4015-9fd0-b4ecdc1219a2
          role: system
          text: 사용자가 입력한 문장을 영어로 번역해 줘.
        selected: false
        title: 영어 번역
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm
      position:
        x: 342
        y: 7
      positionAbsolute:
        x: 342
        y: 7
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: "◆ 영어 번역 \n{{#llm.text#}}\n\n◆ 일어 번역 \n{{#1774602494766.text#}}"
        selected: false
        title: 답변
        type: answer
        variables: []
      height: 119
      id: answer
      position:
        x: 679.2299773977917
        y: 7
      positionAbsolute:
        x: 679.2299773977917
        y: 7
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: ca8439c2-0279-4e7d-b52f-f2bf0b3f3c24
          role: system
          text: 사용자가 입력한 문장을 일본어로 번역해 줘.
        selected: false
        title: 일어 번역
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774602494766'
      position:
        x: 342
        y: 154.01158389969808
      positionAbsolute:
        x: 342
        y: 154.01158389969808
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -276.01478283377344
      y: 315.443393828941
      zoom: 1.0610015965572788
  rag_pipeline_variables: []
