DSL샘플/Chapter6_채팅플로우/6-7_기업정보검색채팅플로우.yml
app:
  description: ''
  icon: department_store
  icon_background: '#E4FBCC'
  icon_type: emoji
  mode: advanced-chat
  name: 기업 정보 검색 채팅 플로우
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/google:0.0.9@d360bbc433f39be1b11909cb9c32e6be4a17ea06af083f9e1c7613bb802bf517
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.6@e2665624a156f52160927bceac9e169bd7e5ae6b936ae82575e14c90af390e6e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1774606121819-source-1774606865113-target
      selected: false
      source: '1774606121819'
      sourceHandle: source
      target: '1774606865113'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1774606865113-source-llm-target
      selected: false
      source: '1774606865113'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1774606865113-source-1774610897473-target
      selected: false
      source: '1774606865113'
      sourceHandle: source
      target: '1774610897473'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: llm-source-1774611494947-target
      selected: false
      source: llm
      sourceHandle: source
      target: '1774611494947'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1774610897473-source-1774611494947-target
      selected: false
      source: '1774610897473'
      sourceHandle: source
      target: '1774611494947'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774611494947-source-answer-target
      source: '1774611494947'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 시작
        type: start
        variables: []
      height: 72
      id: '1774606121819'
      position:
        x: 56
        y: 282
      positionAbsolute:
        x: 56
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 6a19eef9-8696-4dfc-81d8-33c0c51a3683
          role: system
          text: '{{#1774606865113.text#}}의 검색 결과를 바탕으로 다음 항목을 알려줘.

             

            ● 기본 정보

            회사명

            설립 연월일

            주소

            주요 사업 내용

            종업원 수

            자본금'
        selected: false
        title: 기본정보
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm
      position:
        x: 710
        y: 303
      positionAbsolute:
        x: 710
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: "● 기본 정보 \n{{#llm.text#}}\n\n● 서비스 개요 \n{{#1774610897473.text#}}\n\
          \n● 미래 전략 \n{{#1774611494947.text#}}"
        selected: false
        title: 답변
        type: answer
        variables: []
      height: 137
      id: answer
      position:
        x: 1351
        y: 303
      positionAbsolute:
        x: 1351
        y: 303
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: used for searching
            ja_JP: used for searching
            pt_BR: used for searching
            zh_Hans: 用于搜索网页内容
          label:
            en_US: Query string
            ja_JP: Query string
            pt_BR: Query string
            zh_Hans: 查询语句
          llm_description: key words for searching
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Parameter defines the language to use for the Google search. It's
              a two-letter language code. (e.g., en for English, es for Spanish, or
              fr for French). Head to https://serpapi.com/google-languages for a full
              list of supported Google languages.
            ja_JP: Parameter defines the language to use for the Google search. It's
              a two-letter language code. (e.g., en for English, es for Spanish, or
              fr for French). Head to https://serpapi.com/google-languages for a full
              list of supported Google languages.
            pt_BR: Parameter defines the language to use for the Google search. It's
              a two-letter language code. (e.g., en for English, es for Spanish, or
              fr for French). Head to https://serpapi.com/google-languages for a full
              list of supported Google languages.
            zh_Hans: 此参数定义用于 Google 搜索的语言。它是一个两字母的语言代码。 (例如，en 代表英语，es 代表西班牙语，fr 代表法语)。请前往
              https://serpapi.com/google-languages 查看完整的支持 Google 语言列表。
          label:
            en_US: Language
            ja_JP: Language
            pt_BR: Language
            zh_Hans: 语言
          llm_description: Language
          max: null
          min: null
          name: hl
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Parameter defines the country to use for the Google search. It's
              a two-letter country code. (e.g., us for the United States, uk for United
              Kingdom, or fr for France). Head to the https://serpapi.com/google-countries
              for a full list of supported Google countries.
            ja_JP: Parameter defines the country to use for the Google search. It's
              a two-letter country code. (e.g., us for the United States, uk for United
              Kingdom, or fr for France). Head to the https://serpapi.com/google-countries
              for a full list of supported Google countries.
            pt_BR: Parameter defines the country to use for the Google search. It's
              a two-letter country code. (e.g., us for the United States, uk for United
              Kingdom, or fr for France). Head to the https://serpapi.com/google-countries
              for a full list of supported Google countries.
            zh_Hans: 此参数定义用于 Google 搜索的国家。它是一个两字母的国家代码。 (例如，us 代表美国，uk 代表英国，fr 代表法国)。请前往
              https://serpapi.com/google-countries 查看完整的支持 Google 国家列表。
          label:
            en_US: Country
            ja_JP: Country
            pt_BR: Country
            zh_Hans: 国家
          llm_description: Country
          max: null
          min: null
          name: gl
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Parameter defines from where you want the search to originate.
              If several locations match the location requested, we'll pick the most
              popular one. Head to the /locations.json API if you need more precise
              control. The location and uule parameters can't be used together. It
              is recommended to specify location at the city level in order to simulate
              a real user’s search. If location is omitted, the search may take on
              the location of the proxy.
            ja_JP: Parameter defines from where you want the search to originate.
              If several locations match the location requested, we'll pick the most
              popular one. Head to the /locations.json API if you need more precise
              control. The location and uule parameters can't be used together. It
              is recommended to specify location at the city level in order to simulate
              a real user’s search. If location is omitted, the search may take on
              the location of the proxy.
            pt_BR: Parameter defines from where you want the search to originate.
              If several locations match the location requested, we'll pick the most
              popular one. Head to the /locations.json API if you need more precise
              control. The location and uule parameters can't be used together. It
              is recommended to specify location at the city level in order to simulate
              a real user’s search. If location is omitted, the search may take on
              the location of the proxy.
            zh_Hans: 此参数定义搜索的位置。如果有多个位置与请求的位置匹配，我们将选择最受欢迎的一个。如果需要更精确的控制，请前往 /locations.json
              API。location 和 uule 参数不能同时使用。建议在城市级别指定位置，以模拟真实用户的搜索。如果省略位置，则搜索可能会采用代理的位置。
          label:
            en_US: Location
            ja_JP: Location
            pt_BR: Location
            zh_Hans: 位置
          llm_description: Location
          max: null
          min: null
          name: location
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          gl: ''
          hl: ''
          location: ''
          query: ''
        plugin_id: langgenius/google
        plugin_unique_identifier: langgenius/google:0.0.9@d360bbc433f39be1b11909cb9c32e6be4a17ea06af083f9e1c7613bb802bf517
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/plugin/icon?tenant_id=fb0c25e4-d09b-4fd0-9a8e-7d4e5427a2b8&filename=1c5871163478957bac64c3fe33d72d003f767497d921c74b742aad27a8344a74.svg
        provider_id: langgenius/google/google
        provider_name: langgenius/google/google
        provider_type: builtin
        selected: false
        title: GoogleSearch
        tool_configurations: {}
        tool_description: A tool for performing a Google SERP search and extracting
          snippets and webpages.Input should be a search query.
        tool_label: GoogleSearch
        tool_name: google_search
        tool_node_version: '2'
        tool_parameters:
          gl:
            type: mixed
            value: null
          hl:
            type: mixed
            value: null
          location:
            type: mixed
            value: null
          query:
            type: mixed
            value: '{{#sys.query#}}'
        type: tool
      height: 51
      id: '1774606865113'
      position:
        x: 364
        y: 303
      positionAbsolute:
        x: 364
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 9799511b-75d4-40cb-af69-09ed4d1bfef9
          role: system
          text: '{{#1774606865113.text#}}의 검색 결과를 바탕으로 다음 내용에 대해 알려 줘.

             

            ● 서비스 개요

            주력 제품과 서비스 설명'
        selected: false
        title: 서비스 개요
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774610897473'
      position:
        x: 710
        y: 438
      positionAbsolute:
        x: 710
        y: 438
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: c6e81261-96d5-4bfc-a241-30da66365b90
          role: system
          text: '{{#llm.text#}}{{#1774610897473.text#}}

            이 정보들을 바탕으로 기업의 미래 전략으로 예상할 수 있는 행동 가설을 추론해 줘.'
        selected: false
        title: 미래 전략 추론
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774611494947'
      position:
        x: 1051.1486983549971
        y: 303
      positionAbsolute:
        x: 1051.1486983549971
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -1058.5
      y: 81
      zoom: 1
  rag_pipeline_variables: []
